<div id='header'>
  <h1>Word Definer</h1>
</div>
<div class="page_content">
    <h1> Update: <%= @word.term %> </h1>
    <form action='/words/<%= @word.id %>' method='post'>
        <input name='_method' type='hidden' value='patch'>
        <div class='form-group'>
            <label for='term'>Change word:</label>
            <input id='term' name='term' type='text'>
        </div>
        <button class='btn btn-info' type='submit'>Update Word</button>
    </form>
    <br>
    <form action='/words/<%= @word.id %>' method='post'>
        <input name='_method' type='hidden' value='delete'>
        <button class='btn btn-info' type='submit'>Delete Word</button>
    </form>
    <br>
    <p><a href='/words'>Return to words</a></p>
</div>