<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Word: </label>
    <input id="n" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Enter!</button> 
  <%# add array of 'submit' synonyms to .sample for the 'Enter!' text %>
</form>