<div id='header'>
  <h1>Word Definer</h1>
</div>
<div class='page_content'>
  <h3>Word Catalogue: </h3>
  <% if @words.any? %>
  <ol>
    <% @words.each do |word| %>
    <li><a class="highlight_word" href="/words/<%= word.id %>"><%= word.term %></a></li>
    <% end %>
  </ol>
  <% else %>
  <p>You haven't added any words yet. Click below to get started!</p>
  <% end %>

  <a href="/word/new">Add a new word</a>

  <form action="/words">
    <div class="form-group">
      <br>
      <label for="search">Search for Words: </label>
      <input id="search" name="search" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">Search</button>
  </form>
</div>