<h1>Word Definer</h1>
<h3>Word Catalogue: </h3>

<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%= word.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>You haven't added any words yet. Click below to get started!</p>
<% end %>

<a href="/word/new">Add a new word</a>

<form action="/words">
  <div class="form-group">
    <br>
    <label for="search">Search for Words: </label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>